@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic|Great+Vibes);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

i.fa.fa-plus.icon, i.fa.fa-trash-o.icon {
  font-size: 2em;
  margin-left: 0.5em;
}

i.fa.fa-pause {
  margin-left: 1em;
}
/*
.edit-in-place span {
  cursor: pointer;
}

.edit-in-place input {
  display: none;
  color: #2d2e2f;
}

.edit-in-place.active span {
  display: none;
}

.edit-in-place.active input {
  display: inline-block;
}*/

html {
  font-size: 100%;
}

body {
  background: rgba(51, 51, 51, 0.94);
  background-size: cover;
  /*font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  font-family: 'Source Code Pro';
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  box-shadow: 0 0 80px rgba(0, 0, 0, 1);
}

.row {
  display: block;
  padding: 20px;
  text-align: center;
  width: 100%;
  clear: both;
  overflow: hidden;
}

.title {
  color: #ffffff;
}

h1, a{
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  margin: 0;
  padding-bottom: 1em;
  font-size: 1em;
}

.red {
  color: #DA3512;
}

.fancy {
  font-family: "Great Vibes", cursive;
  font-size: 1.8em;
}

.enterNew {
  height: 60px;
  position: relative;
  overflow: hidden;
}

input[type="text"],
select {
  /*height: 90%;
  width: 100%;*/
  padding: 0 20px;
  top: 0;
  vertical-align: middle;
  display: inline-block;
  border: none;
  border-radius: none;
  font-size: 13px;
  color: #777;
  margin: 0;
  font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  ;
    font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
}

input[type="text"]:focus,
select:focus {
  outline: none;
  background: transparent;
}

input[type='text'],
input[type='email'],
input[type='url'],
textarea {
  /*height: 100%;
  width: 100%;*/
  background: rgba(51, 51, 51, 0.72);
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  padding: 2px;
}

input[type='text']:hover,
input[type='email']:hover,
input[type='url']:hover,
textarea:hover {
  cursor: text;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='url']:focus,
textarea:focus {
  background: rgba(51, 51, 51, 0.72);
  color: #fff;
}

button {
  font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  cursor: default !important;
  background: transparent;
  border-radius: 2px;
  border: none;
  outline: none;
  color: #f7f7f7;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-left: 2px;
}

.icon {
  position: absolute;
  top: 30%;
  left: 10px;
  font-size: 20px;
}

.edit-in-place.active input {
  background: #d9d9d9;
  color: rgba(51, 51, 51, 0.72);
}

.addTask {
  background: rgba(133, 171, 56, 0.8);
  padding-left: 30px;
  margin-left: 15px;
}

.addTask:hover {
  background: #85AB38;
}

.removeTask {
  background: rgba(220, 137, 10, 0.7);
  padding-left: 30px;
  margin-left: 0.5em;
}

.removeTask:hover {
  background: rgba(220, 137, 10, 1.0);
}

.updateTask {
  background: rgba(182, 28, 12, 0.8);
  width: 50px;
  height: 20px;
  font-size: 10px;
  float: right;
  margin-right: 5px;
}

.updateTask:hover {
  background: #B61C0C;
}

#colors {
  margin-left: 20px;
  color: #999;
}

.pomodoros {
  background: rgba(182, 28, 12, 0.8);
  width: 100px;
  height: 20px;
  font-size: 10px;
  float: right;
}

.pomodoros:hover {
  background: #B61C0C;
}

.addPomodoro {
  background: rgba(133, 171, 56, 0.8);
  width: 160px;
  height: 30px;
  margin-left: 41%;
  margin-bottom: 10px;
}

.grey {
  margin-top: 10px;
  font-family: "Great Vibes", cursive;
  color: #999999;
}

#back {
  background: rgba(133, 171, 56, 0.8);
  width: 160px;
  height: 30px;
  float: left;
  margin-left: 15px;
  position: absolute;
  margin-top: -40px;
  float: left;
}

#back:hover {
  background: #85AB38;
}

#newPomodoro {
  margin-left: 5px;
}

.addPomodoro:hover {
  background: #85AB38;
}

.times {
  font-size: 16px;
  display: inline;
  color: #545454;
  height: 5px !important;
  line-height: 0px;
}

.center {
  text-align: center;
  display: block;
}

.play {
  background: #828282;
  width: 40px;
  height: 20px;
  font-size: 10px;
  display: inline;
  margin: -90px 0 0 280px;
  position: absolute;
}

#stop {
  background: #828282;
  width: 70px;
  height: 20px;
  font-size: 10px;
  display: inline;
  margin: -55px 0 0 265px;
  position: absolute;
}

.disabled {
  opacity: 0.4;
}
.hide{
  display: none;
}

path {
  margin-left: 50%;
}

circle {
  fill: #b61c0c;
}

text {
  text-align: center;
  font-size: 32px;
  fill: #000000;
  font-weight: 700;
}

.play:hover {
  background: #656565;
}

.issueList {
  list-style: none;
  padding: 0 20px;
  text-align: center;
}

.issues {
  border-top: 1px solid #e5e5e5;
  /*padding: 15px 0;*/
  color: #545454;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
  width: 100%;
}

.todoList .task:nth-child(even) {
  background: transparent;
}

.check {
  margin-right: 1em;
}

.check {
  -webkit-appearance: none;
  appearance: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  cursor: pointer;
  width: 19px;
  height: 19px;
  vertical-align: middle;
}

.check:focus {
  outline: none;
}

.check:before,
.check:checked:before {
  font-family: 'FontAwesome';
  color: #2d2e2f;
  font-size: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.check:before {
  content: '\f096';
  color: rgb(220, 137, 10);
}

.check:checked:before {
  content: '\f14a';
  color: #85AB38;
}
/*new*/
table {
  border-collapse:collapse;
  width:100%;
}


img {
    width: 70px;
    border-radius: 5%;
    display: block;
    margin: 0 auto;
}

.profile {
  /*margin: 5px 20px 10px 20px;*/
  display: inline-block;
}

span {
  font-size: 10px;
  padding-top: 4px;
}

.issueTitle {
  text-align: left;
}

.forum.table > tbody > tr > td {
    vertical-align: middle;
}

.forum .fa {
    width: 1em;
    text-align: center;
}

.forum.table th.cell-stat {
    width: 7%;
}

.forum.table th.cell-stat-2x {
    width: 14em;
}

.soft {
  color: #848484;
  opacity: 0.3;
  .font-size: 20px !important;
  float: right;
}

.medium {
  color: #848484;
  opacity: 0.9;
  font-size: 10px;
  float: right;
}

.issue-num {
  width: 10%;
}

.author {
  width: 13%;
}

.middle {
  vertical-align: middle !important;
}

.centered {
  vertical-align:middle !important;
  text-align:center !important;
}

.labels {
  font-size: 8px;
  float: right;
  background-color: rgba(255, 255, 255, 0.3) !important;
}

/*#color-changer{
	background: none;
	background-color: #45CEEF;
	-webkit-animation: colorpulse 40s infinite alternate;
	animation: colorpulse 40s infinite alternate;
}

@-webkit-keyframes colorpulse {
	0%   { background-color: rgb(218, 47, 148); }
	25%  { background-color: rgb(0, 188, 195); }
	50%  { background-color: rgb(95, 178, 106); }
	75%  { background-color: rgb(252, 115, 49); }
	100% { background-color: #D8CAB4; }
}

@keyframes colorpulse {
	0%   { background-color: rgb(236, 0, 140); }
	25%  { background-color: rgb(0, 188, 195); }
	50%  { background-color: rgb(95, 178, 106); }
	75%  { background-color: rgb(252, 115, 49); }
	100% { background-color: rgb(236, 0, 140); }
}*/

h3 {
  color: #ffffff;
}

small, .highlight {
  color: rgba(255, 255, 255, 0.6) !important;
  font-size: 1em !important;
}

.light {
  color: rgba(255, 255, 255, 0.6) !important;
}

.wide {
  width: 12%;
}

.tiny {
  font-size: 0.7em !important;
}

th.cell-stat.gray.wide {
    text-align: center;
}
.color-changer{
  min-width:80%;
  min-height:80%;
  /*background:linear-gradient(230deg,#a24bcf,#4b79cf,#4bc5cf);*/
  /*background:linear-gradient(230deg,#a24bcf,#4b79cf,#00BCC3,#5FB26A,#4bc5cf,#00B16A);*/
  background:linear-gradient(230deg,#00B16A,#00B16A,#08CAA6,#4bc5cf,#00BCC3,#4b79cf,#a24bcf,#7F00C1);
  background-size:300% 300%;
  -webkit-animation:MoveBG 30s ease infinite;
  -moz-animation:MoveBG 30s ease infinite;
  -o-animation:MoveBG 30s ease infinite;
  animation:MoveBG 30s ease infinite;
}

@-webkit-keyframes MoveBG {
    0%{background-position:0% 84%}
    50%{background-position:100% 16%}
    100%{background-position:0% 84%}
}

@-moz-keyframes MoveBG {
    0%{background-position:0% 84%}
    50%{background-position:100% 16%}
    100%{background-position:0% 84%}
}
@-o-keyframes MoveBG {
    0%{background-position:0% 84%}
    50%{background-position:100% 16%}
    100%{background-position:0% 84%}
}
@keyframes MoveBG {
    0%{background-position:0% 84%}
    50%{background-position:100% 16%}
    100%{background-position:0% 84%}
}

.gray {
  color: rgba(0, 0, 0, 0.4);
}

h3.center{
  color: rgba(0, 0, 0, 0.24);
  font-size: 38px;
  font-weight: 600;
  font-family: 'Source Code Pro';
  margin-bottom: 40px;
}

td {
  border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.table > thead > tr >th {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1) !important;
}

.white {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}

nav {
  text-align: center !important;
}

/*.cell-stat {
  border-bottom: none !important;
}*/

.pagination > li > a {
  color: #ffffff !important;
  background-color: #000000 !important;
  opacity: 0.4;
}

.pagination:hover > li:hover > a:hover {
  background-color: #000000 !important;
  opacity: 0.8;
}
